@media screen and (min-width: 480px) {
  .ml3 {
  font-weight: 950;
  font-size: 2.5em;
  text-align: center;
  color: #a5d;
  }

  .ml7 {
    position: relative;
    font-weight: 900;
    font-size: 1.3em;
    text-align: center;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }
}